#BookingRequestItem{
  #margin: auto;
  #width: 42%;
  #text-align: center;

  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }

  .form-horizontal{
    width: 350px;
  display: inline-block;
  }

  select#BookingRequestItem_AllProperties{
    width: 80%;
    display: inline-block;
  }

  #BookingRequestItem_AddPropertyToBookingRequest{
    width: 18%;
    float: right;
    display: inline-block;
    margin: 0px;
  }

  .btn.btn-warning{
    margin: 0px;
    margin-left: 2%;
  }
  .btn.btn-success{
    margin: 0px;
  }
  .btn.btn-danger{
    margin: 0px;
    margin-left: 2%;
  }

  div.row{
    width: 350px;
    height: 34px;
  }
}



