/* Coolors Exported Palette - coolors.co/d7d6d9-a29fa8-45454f-d6211d-821c1c */

/* HSL
$white: hsla(270%, 8%, 95%, 1);
$black: hsla(264%, 100%, 1%, 1);
$lightGrey: hsla(260%, 4%, 85%, 1);
$grey: hsla(260%, 5%, 64%, 1);
$darkGrey: hsla(240%, 7%, 29%, 1);
$lightRed: hsla(1%, 76%, 48%, 1);
$darkRed: hsla(0%, 65%, 31%, 1);
*/

/* RGB */
$white: rgba(243, 242, 244, 1);
$black: rgba(2, 0, 5, 1);
$lightGrey: rgba(215, 214, 217, 1);
$grey: rgba(162, 159, 168, 1);
$darkGrey: rgba(69, 69, 79, 1);
$lightRed: rgba(214, 33, 29, 1);
$darkRed: rgba(130, 28, 28, 1);