#Index{
  #margin: auto;
  #width: 42%;
  #text-align: center;


  h2{
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  h3{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
  }

  h4{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
  }

  div.page-header{
    border-bottom: 0px;
  }

  .btn-get-started{
    margin-top: 22px;
    animation: fadein 4s;
  }
}
