#Login{
  #margin: auto;
  #width: 42%;
  #text-align: center;

  text-align: center;
  position: absolute;
  width: 174px;
  height: 400px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -11% 0 0 -87px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  //-ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .c-form__label{
    display:block;
    //width: 82%;
    //margin-right: 88px;
    padding-top: 5px;
    text-align: left;

  }

  .c-form{
    width: 174px;
  }

  .c-form__actions{
    padding: 0px;
  }

  .c-form__actions-forgot{
    padding-top: 5px;
  }

  .c-alert{
    width: 51%;
    text-align: left;
    margin-bottom: 10px;
    color: #cc0000;
  }

  .c-form__label.c-form__label--checkbox{
    width: 89%;
  }

  #Login_Login{
    width: 100%;
    margin-top: 10px;
  }

}


