@import "colourPalette";
@import "variables";
@import "mobile";
@import "login";
@import "bookingRequestItem";
@import "fadeIn";
@import "bookingRequestCollection";
@import "index";

body {
  background-color: white;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: .4;
  color: #333;
  background-color: white;
  text-align: center;
}

.simple-form-thin {
  max-width: 350px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.button-bar {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: #333 1px solid;
  display: flex;
  justify-content: flex-end;
}

.brand-qub {
  background-color: #d6000d;

}

.brand-citi {
  background-color: #006cb8;
}

.brand-florp {
  background-color: #d6000d;
}

.brand-none {
  background-color: #d6000d;
}

.navbar-default .navbar-nav {
  color: white !important;
  li {
    a {
      color: white !important;
    }
    a:visited {
      color: white !important;
    }
  }
}

.navbar-brand-logo {
  max-width: 102px;
  margin-top: -7px;
}

.view-link {
  font-size: 16px;
  display: block;
}

.js-validation-message {
  color: $darkRed;
}

.bar {
  background-color: #269abc;
}

.btn {
  background-color: #269abc;
  border-color: #269abc;
  margin: 5px;
  color: #ffffff;
}

.btn:visited {
  background-color: #269abc;
  border-color: #269abc;
  margin: 5px;
  color: #ffffff;
}

.btn:hover {
  background-color: #1f839f;
  border-color: #1f839f;
  margin: 5px;
  color: #ffffff;
}

.btn-success:hover {
  background-color: #1f839f;
  border-color: #1f839f;
  margin: 5px;
  color: #ffffff;
}

.btn-success:visited {
  background-color: #1f839f;
  border-color: #1f839f;
  margin: 5px;
  color: #ffffff;
}

.btn.btn-warning {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  margin: 5px;
  color: #000000;
}

.btn.btn-warning:hover {
  background-color: #cccccc;
  border-color: #cccccc;
  margin: 5px;
  color: #000000;
}

.btn.btn-danger {
  background-color: #c92009;
  border-color: #c92009;
  margin: 5px;
  color: #ffffff;
}

.btn.btn-danger:hover {
  background-color: #aa1c09;
  border-color: #aa1c09;
  margin: 5px;
  color: #ffffff;
}

.dropdown-menu-nav {
  background-color: #d6000d;
  li {
    background-color: #d6000d;
    border-color: #d6000d;
  }
  a:hover {
    background-color: #f0000d !important;
    border-color: #f0000d;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 6px;
  font-size: 13pt;
  max-height: 300px;
}

.flex-item:nth-child(odd) {
  background-color: $lightGrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.statistic {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15pt!important;
  }
  .flex-item{
    p {
      margin-bottom: 0;
    }
  }
}

.statistic-button {
  font-size: 20pt;
}
.statistic-item {
  p {
    text-align:right;
  }
}

.scrollable-vertical {
  overflow-y: scroll;
}

/*
R ON - Styling css for admin pages
 */

/*
  Key elements
 */

%adminCardContainer {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 25px;

  .container.flex-column {
    margin: auto;
    width: 99%;
  }
}

.adminCardContainerMain {
  @extend %adminCardContainer;
  width: 50%;
}
@media (min-width: 1000px) {
  .adminCardContainerThin {
    width: 66%!important;
  }
  .adminCardContainerWithinHalf{
    width:100%!important;
  }
}

.adminCardContainerThin {
  @extend %adminCardContainer;
  width: 35%;
}

.adminCardContainerWithinHalf {
  @extend %adminCardContainer;
  width: 80%;
}

%adminDivider {
  width: 50%;
  position: absolute;
}

.adminDividerLeft {
  @extend %adminDivider;
  left: 0;
}

.adminDividerRight {
  @extend %adminDivider;
  right: 0;
}

.adminH1 {
  font-size: 30px;
  text-align: center;
}

.adminH2 {
  font-style: italic;
  font-size: 26px;
  text-align: center;
}

.adminH3 {
  margin: 0px;
}

/*
  Minor styling components
 */

.adminTitlePadding {
  padding-top: 10px;
}

.adminCardContainerMargin {
  margin: 50px;
}

.adminCardContainerPadding {
  padding: 25px;
}

.adminCardContainerTitleDiv {
  margin-bottom: 20px;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.adminCardContainerItemMargin {
  margin-bottom: 20px;
}

.splashContainer {
  width: 100%;
  background-color: #929292;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.splash {
  margin: 0 auto;
  text-align: center;
  p {
    margin-top: 25px;
    font-size: 15pt;
  }
  img {
    width: 100%;
    padding: 10px;
  }
}

.room-image-list {
  width: 100%;
  img{
    max-width: 100%;
    margin-top: 20px;
  }
}

.full-width {
  width: 100%;
}